#detalhes p{
    font-size: 18px;

}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elenco-img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.poster-img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;
    border-top-left-radius: var(--bs-border-radius-xxl)  !important;
    border-top-right-radius: var(--bs-border-radius-xxl) !important;

}