* {
	margin:  0;
   padding:  0;
}

html, body {
	linha 11 ao 13
}

body {
	overflow-x:  hidden;
	overflow-y:  scroll ;
}

.navbar {
	backdrop-filter:  blur(2px);
	background-size:  rgba(0, 0, 0 , 1.1);
}

.pos-0 {
	top: o;
	left: 0;
	right:  0;
}

/*linha 33 ao 43*/ 
