#pesquisar input[type=text] {
	padding: 15px 15px;
	font-weight: 600px;
	background-color: rgb(255 ,255, 255);
	border-radius: 50px;
    border: #E50914 solid 2px;
    font-size: 18px;
    width: 100%;

}

#pesquisar button {
	padding: 12px;
	top: 1px;
	right: 0;
	border-radius: 50%;
	font-size: 20px;
	background-color: #E50914;
	color: white;
}

 